@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 187 100% 95%;
    --foreground: 187 5% 10%;
    --card: 187 50% 90%;
    --card-foreground: 187 5% 15%;
    --popover: 187 100% 95%;
    --popover-foreground: 187 100% 10%;
    --primary: 187 65% 64.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 187 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 149 30% 85%;
    --muted-foreground: 187 5% 35%;
    --accent: 149 30% 80%;
    --accent-foreground: 187 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 187 5% 90%;
    --border: 187 30% 50%;
    --input: 187 30% 26%;
    --ring: 187 65% 64.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 187 50% 10%;
    --foreground: 187 5% 90%;
    --card: 187 50% 10%;
    --card-foreground: 187 5% 90%;
    --popover: 187 50% 5%;
    --popover-foreground: 187 5% 90%;
    --primary: 187 65% 64.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 187 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 149 30% 25%;
    --muted-foreground: 187 5% 60%;
    --accent: 149 30% 25%;
    --accent-foreground: 187 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 187 5% 90%;
    --border: 187 30% 26%;
    --input: 187 30% 26%;
    --ring: 187 65% 64.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
